/* Global */

:root {
  --limegreen: #B1D735;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.bold {
  font-weight: 600;
}

.newline {
  display: block;
  padding: 4px;
}

li {
   padding: 8px;
 }

 body {
  background-color: black;
  font-family: "Raleway";
  position: relative;
  color: white;
}

h2 {
  padding-top: 24px;
}

.section-wrapper, #about {
 text-align: center;
 align-items: center;
 margin: 24px 0px;
font-size: 16px;
 letter-spacing: 1px;
 line-height: 24px;
 overflow: hidden;
}

.info-content {
  padding: 0px 24px;
}


/* Navigation */

 #nav-bar {
   position: relative;
   text-align: center;
   top: 0;
   background-color: var(--limegreen);
   width: 100%;
   height: auto;
   align-items: center;
   color: black;
 }

 #nav-buttons {
   list-style: none;
   font-family: "Cinzel";
   font-weight: bold;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 4px;
   padding: 8px;
   position: relative;
 }

 .nav-link {
   text-decoration: none;
   color: black;
 }

#header-img {
  position: relative;
  width: 32px;
  height: 32px;
  top: 5px;
 }

#logo-items {
  position: relative;
  display: block;
  font-size: 24px;
  font-family: "Cinzel Decorative";
  font-weight: 900;
  letter-spacing: 1px;
}

/* Call to Action: Need to add a close button once I learn JS */

#calltoaction {
  width: 100%;
  color: white;
  border-bottom: 1px solid var(--limegreen);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
  font-weight: bold;
  justify-content: center;
  background: black;
  margin-top: 216px;
}

#birds {
  height: 72px;
  width: 72px;
  border: 1px solid var(--limegreen);
  margin: 4px;
}

.border {
  display: block;
  border: 1px solid var(--limegreen);
}

#form {
  text-align: center;
}

#formdiv {
  text-align: center;
}

#join {
  padding-right: 8px;
}

#email {
  background-color: #D9E4D3;
  padding: 2px 8px;
  width: 100%;
  font-family: "Raleway";
  text-transform: uppercase;
  align-items: center;
  display: flex;
  border: 2px solid var(--limegreen);
  margin: 8px;
}

::placeholder {
  color: 798A7B;
  text-align: center;
}

#submit {
  background-color: var(--limegreen);
  border: 2px solid var(--limegreen);
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Section Odds and Evens */

.section:nth-of-type(even), #about {
  background-color: #343333;
}

.section:nth-of-type(odd) {
  background-color: #3E4D36B3;
}


/* About */

h1 {
  font-size: 32px;
  padding: 24px 16px;
}


iframe {
  border: 0;
  width: 80vw;
  height: 45vw;
}

#about {
  padding: 24px;
}

/* Animal Section */

.image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding-top: 24px;
}

/* Pricing Section */

.splashtext {
  margin: 24px;
}

.splashtext > .hero-title {
  font-size: 10vw;
  text-transform: uppercase;
  line-height: 10vw;
}

#premium {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.pricebox {
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 16px;
}

.pricebox :not(h3) {
  padding: 8px;
}

.pricebox h3 {
  background-color: var(--limegreen);
  color: black;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 16px;
}

.section-wrapper p.cost {
  font-family: "Cinzel";
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 8px;
}

.button {
  font-weight: 900;
  background-color: var(--limegreen);
  color: black;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  width: 80px;
  margin: 8px auto;
  padding: 8px 16px;
}


/* Benefits */

.bheading-text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Cinzel";
  margin: 16px;
}


hr {
  width: 80%;
  border-top: 2px solid var(--limegreen);
  border-bottom: 0;
  margin: auto;
}

.green {
  color: var(--limegreen);
}

.benefits ul {
  list-style-position: outside;
  list-style: none; 
}



.benefits ul li::before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: var(--limegreen);
    padding-right: 8px;
}

.benefits ul li.serpent-icon::before {
  content: "\f6d5";
}

.benefits ul li.crow-icon::before {
  content: "\f520";
}

.benefits ul li.horse-icon::before {
  content: "\f6f0";
}


ul.iconlist {
  display: inline-block;
  text-align: left;
}

.hr2 {
  padding-bottom: 16px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.benefits-list-container {
  margin: 16px 0px 16px 0px;
}

.benefits {
  padding: 24px;
}

 .bigger {
    font-size: 7.5vw;
  }

  .smaller {
  font-size: 4.5vw;
}



/* Footer */

footer {
  display: flex;
  background-color: black;
  color: white;
  border-top: 5px solid var(--limegreen);
}

footer ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  font-weight: 600;
  width: 100%;
}

footer li {
  padding-bottom: 24px;
}

footer {
  background-color: black;
}

footer a {
  text-decoration: none;
  color: white;
}

/* Media Query Sanity Check */

@media only screen and (max-width: 319px) {
  body {
    color: green;
  }
}

/* Media Query Phones and tablets */

@media only screen and (min-width: 370px) {
  #calltoaction {
    margin-top: 180px;
}
#formdiv {
  padding-left: 24px;
}
}

@media only screen and (min-width: 575px) {
  .bigger {
    font-size: 40px;
  }

  .smaller {
  font-size: 25px;
}

.crow-icon, .horse-icon, .serpent-icon {
  font-size: 16px;
  line-height: 24px;
}

.bheading-text {
  font-size: 32px;
  line-height: 32px;
}

footer ul {
  justify-content: right;
  padding-bottom: 24px;
  padding-left: 24px;
}


}

@media only screen and (min-width: 900px) {

  #nav-bar {
    display: flex; 
  }

  #nav-buttons {
   display: flex;
   font-weight: 800;
   font-size: 18px;
   line-height: 24px;
   letter-spacing: 6px;
   padding: 4px;
}


  #logo {
   padding: 0px 0px 8px 16px;
}

  #nav-wrapper {
   position: absolute;
   right: 0;
}

 #calltoaction {
  margin-top: 56px;
}


 #about {
  display: flex;
  align-items: center;
}

.section-wrapper {
  flex-wrap: wrap;
  overflow: auto;
}

 .section-wrapper p, #about {
   font-size: 1.5vw;
   line-height: 1.8vw;
   letter-spacing: 1px;
   word-spacing: 2px;
 }


.image {
  width: 40vw;
  height: 40vw;
  padding: 0;
  margin: 0;
}

.section:not(.benefits) {
  display: flex;
  flex-wrap: nowrap;
}

.section:nth-of-type(odd):not(#premium):not(.benefits) {
  flex-direction: row-reverse;
}


 h1 {
   font-size: 4vw;
   letter-spacing: 6px;
   line-height: 4vw;
   font-weight: 700;
   text-transform: uppercase;
 }

 h2 {
   font-size: 32px;
   line-height: 32px;
   padding-top: 0px;
   padding-bottom: 16px;
   text-transform: uppercase;
   letter-spacing: 6px;
 }
 

 iframe {
  width: 50vw;
  height: 28.13vw;
 }

#premium {
  display: flex;
  justify-content: space-evenly;
}

.splashtext > .hero-title {
  font-size: 4vw;
  text-transform: uppercase;
  line-height: 4vw;
  margin-left: 8px;
}

.splashtext {
  margin: 0;
}

.hero-title {
  font-family: "Cinzel";
}

.epic.bold {
  font-size: 3vw;
  letter-spacing: 2px;
  line-height: 3vw;
  margin: 16px 0px 16px;
  text-transform: uppercase;
}

.pricebox {
  width: 180px;
  height: 280px;
  display: flex-end;
  wrap: no-wrap;
  
}


.pricebox h3 {
  font-size: 16px;
  padding: 4px;
}


#premium p:not(.hero-title, .cost, .button, .sub-title, .epic) {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 3px;
  word-spacing: 1px;
  width: 160px;
  height: 90px;
}

.section-wrapper p.cost {
  font-size: 32px;
  padding: 0px;
}

.section-wrapper p.button {
  font-size: 16px;
  line-height: 16px;
  width: 100px;
}

.rightcontent {
  display: block;
}

.boxes {
  display: flex;
  wrap: no-wrap;
  justify-content: space-evenly;
}

p.bheading-text {
  font-size: 3.2vw;
  line-height: 4vw;
  font-weight: 600;
  font-family: "Cinzel";
  position: relative;
  padding: 0px 15px;
}

.iconlist li {
  font-size: 1.5vw;
  line-height: 2vw;
  margin-left: 12vw;
  margin-right: 12vw;
  padding: 0px 0px 2.5vw 0px;
}

.iconlist li:last-of-type {
  padding: 0px;
}

.iconlist {
  margin: 24px;
}

.bigger {
    font-size: 3.8vw;
  }

  .smaller {
  font-size: 2vw;


}

/* Laptops & PC */



@media only screen and (min-width: 1200px) {

.pricebox {
  width: 300px;
}

#premium p:not(.hero-title, .cost, .button, .sub-title, .epic) {
  width: 280px;
  height: 60px;
}

}





@media only screen and (min-width: 1800px) {

#nav-buttons {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 8px;
  letter-spacing: 6px;
}


}
